<form [formGroup]="form" >

<div class="form-group">
  <div>
    <label for="oldP">Old Password</label>
    <input type="password"  formControlName="oldP"  id="oldP" class="form-control">
</div>


<div *ngIf="oldP.touched && oldP.invalid"class="alert alert-danger">
<div *ngIf="oldP.errors.oldMismatched"class="alert alert-danger">Old password is mismatched</div>
</div>
<div>
  <label for="newP">NEW Password</label>
  <input type="password"  formControlName="newP"  id="newP" class="form-control">
</div>

<div *ngIf="newP.touched && newP.invalid && newP.errors.required"class="alert alert-danger">New password is required</div>


<div>
  <label for="conP">Confirm Password</label>
  <input type="password"  formControlName="conP"  id="conP" class="form-control" (keyup.enter)="checkPass(form)">
</div>

<div *ngIf="conP.touched && conP.invalid"class="alert alert-danger"></div>

<div *ngIf="form.errors.notMatch" class="alert alert-danger">Password doesn't matched</div>



<div>
  <button class="btn btn-primary">Update</button>
</div>
</div>
</form>